
<div class="flex flex-col justify-center w-[95%] mx-auto mb-5 mt-32">
    <h1 class="text-center font-medium text-4xl my-4">Filtrar por categoría</h1>
    <div class="flex justify-center">
        <select class="px-2 py-1 text-lg font-medium border-2 rounded-xl 520:w-52 border-black">
            <option class="px-2 py-1 font-medium" value="1">Bebidas artesanales</option>
            <option class="px-2 py-1 font-medium" value="2">Productos artesanales</option>
            <option class="px-2 py-1 font-medium" value="3">Sopas</option>
            <option class="px-2 py-1 font-medium" value="4">Ropa o vestimenta</option>
        </select>
    </div>
</div>

<app-home></app-home>
