<div class="w-[95%] mx-auto flex flex-col items-center mt-32">
    <h1 class="text-center font-medium text-3xl mb-5 md:text-2xl lg:text-4xl">Tus guardados</h1>
    
    @for (product of savedProducts; track product) {
    <div class="flex mb-4">
        <div class="relative">
            <img class="w-36 h-32 object-cover rounded-lg 520:w-56 520:h-44 lg:w-80 lg:h-56" [src]="product.imageUrl" alt="product image">
            <div class="absolute bottom-0 left-0">
                <div class="absolute bottom-0 left-0 flex">
                    <i class="fa-solid fa-star text-gray-300 text-lg mr-2" [class.text-yellow-600]="calculateStarAverage(product) >=1"></i>
                    <i class="fa-solid fa-star text-gray-300 text-lg mr-2" [class.text-yellow-600]="calculateStarAverage(product) >=2"></i>
                    <i class="fa-solid fa-star text-gray-300 text-lg mr-2" [class.text-yellow-600]="calculateStarAverage(product) >=3"></i>
                    <i class="fa-solid fa-star text-gray-300 text-lg mr-2" [class.text-yellow-600]="calculateStarAverage(product) >=4"></i>
                    <i class="fa-solid fa-star text-gray-300 text-lg" [class.text-yellow-600]="calculateStarAverage(product) >=5"></i>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <div>
                <p class="text-sm line-clamp-3 font-medium mx-2 w-40 border-b-2 border-b-yellow-400 520:text-base 520:w-52 md:w-40 lg:text-xl lg:line-clamp-3 lg:w-64">{{product.title}}</p>
                <p class="text-green-800 font-bold ml-2 text-xl 520:text-2xl md:text-xl lg:text-2xl">COP {{product.price}}$</p>
            </div>
            <div class="flex justify-evenly items-center mt-2">
                <a [routerLink]="['/caribeWeb/product', product.id]" class="px-10 py-1 border-2 border-black rounded-lg font-bold hover:bg-gray-200 md:text-2xl lg:text-2xl transition ease-in-out duration-300" routerLink="/caribeweb/product"><i class="fa-solid fa-eye mr-1"></i>Ver</a>
                <button (click)="deleteFromSaved(product.id)" class="px-2 border-2 text-red-400 hover:border-red-600 border-black rounded-lg font-bold hover:text-red-600 md:text-2xl lg:text-2xl transition ease-in-out duration-300"><i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>
    </div>
    }
    
</div>