<header class="flex flex-col items-center justify-center bg-white mb-5 md:flex-row md:justify-evenly md:items-center fixed w-full top-0 left-0 shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] z-50">
    <a routerLink="/caribeWeb">
        <img class="w-32 h-14 my-2 md:w-40 md:h-16" src="../../../assets/CaribeWeb-logo.png" alt="webpage logo">
    </a>

    <nav class="flex justify-between items-center mb-1.5">
        <a *ngIf="mode==='admin'" class="hover:bg-yellow-200 transition ease-in-out duration-300 mr-1 text-sm font-medium border-2 border-black py-1 px-2 rounded-lg 520:text-2xl md:text-2xl lg:mr-12" routerLink="/caribeWeb/add"><i class="fa-solid fa-plus mr-1"></i>Agregar</a>
        <a class="hover:bg-yellow-200 transition ease-in-out duration-300 mr-1 text-sm font-medium px-1 rounded-lg 520:text-xl md:text-2xl lg:mr-12" routerLink="/caribeWeb/home">Inicio</a>
        <a class="hover:bg-yellow-200 transition ease-in-out duration-300 mr-1 text-sm font-medium px-1 rounded-lg 520:text-xl md:text-2xl lg:mr-12" routerLink="/caribeWeb/categories">Categorias</a>
        <a class="hover:bg-yellow-200 transition ease-in-out duration-300 text-sm font-medium px-1 rounded-lg 520:text-xl md:text-2xl" routerLink="/caribeWeb/saved">Guardados</a>
        <i *ngIf="mode==='user'" (click)="setAdminView()" class="fa-solid fa-user-tie px-2 text-xl cursor-pointer"></i>
        <i *ngIf="mode==='admin'" (click)="setUserView()" class="fa-solid fa-user px-2 text-xl cursor-pointer"></i>
    </nav>
</header>

